<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Test-Port-Categories" data-toc-modified-id="Test-Port-Categories-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Test Port Categories</a></span><ul class="toc-item"><li><span><a href="#Imports" data-toc-modified-id="Imports-1.1"><span class="toc-item-num">1.1&nbsp;&nbsp;</span>Imports</a></span></li><li><span><a href="#Visualising-the-data" data-toc-modified-id="Visualising-the-data-1.2"><span class="toc-item-num">1.2&nbsp;&nbsp;</span>Visualising the data</a></span></li><li><span><a href="#Starting-first-categorisations" data-toc-modified-id="Starting-first-categorisations-1.3"><span class="toc-item-num">1.3&nbsp;&nbsp;</span>Starting first categorisations</a></span></li><li><span><a href="#Applying-the-changes-to-the-df" data-toc-modified-id="Applying-the-changes-to-the-df-1.4"><span class="toc-item-num">1.4&nbsp;&nbsp;</span>Applying the changes to the df</a></span></li><li><span><a href="#STOP-the-non-working-stuff-here-is-the-anser:" data-toc-modified-id="STOP-the-non-working-stuff-here-is-the-anser:-1.5"><span class="toc-item-num">1.5&nbsp;&nbsp;</span>STOP the non working stuff here is the anser:</a></span></li><li><span><a href="#Trying-to-find-malicious" data-toc-modified-id="Trying-to-find-malicious-1.6"><span class="toc-item-num">1.6&nbsp;&nbsp;</span>Trying to find malicious</a></span></li><li><span><a href="#Get-all-ports" data-toc-modified-id="Get-all-ports-1.7"><span class="toc-item-num">1.7&nbsp;&nbsp;</span>Get all ports</a></span></li></ul></li></ul></div>

# Test Port Categories

## Imports

In [1]:
import sys
sys.path.append('../')

In [2]:
from data.get_data import GetData

In [3]:
import pandas as pd

In [4]:
data = GetData()

## Visualising the data

In [5]:
data.df_rounded_traffic

,duration,ip_s,ip_d,port_s,port_d,prot,flag,fwd,tos,nb_packets,nb_bytes,data_type
date_time,,,,,,,,,,,,
2016-08-01 04:10:25,0.000,217.156.59.213,42.219.144.89,5061,6046,UDP,.A....,0,40.0,1,435,anomaly-udpscan
2016-08-01 04:24:14,0.000,217.156.59.213,42.219.149.196,5068,6061,UDP,.A....,0,40.0,1,435,anomaly-udpscan
2016-08-01 04:24:14,0.000,217.156.59.213,42.219.151.10,5068,6061,UDP,.A....,0,40.0,1,435,anomaly-udpscan
2016-08-01 04:12:53,0.000,217.156.59.213,42.219.144.78,5066,7039,UDP,.A....,0,40.0,1,433,anomaly-udpscan
2016-08-01 04:12:50,0.000,217.156.59.213,42.219.156.117,5066,7043,UDP,.A....,0,40.0,1,436,anomaly-udpscan
...,...,...,...,...,...,...,...,...,...,...,...,...
2016-08-02 02:22:30,0.084,201.171.238.25,42.219.156.211,63852,80,TCP,.AP.SF,0,0.0,5,634,background
2016-08-04 16:07:58,2.584,194.233.94.148,42.219.158.186,63758,80,TCP,.AP.SF,0,0.0,33,2693,background
2016-08-04 02:12:15,0.032,42.219.156.211,165.131.216.197,80,53905,TCP,.AP.SF,0,0.0,4,888,background
2016-08-02 15:13:58,0.316,145.186.9.79,42.219.159.92,443,49479,TCP,.AP.S.,0,0.0,10,4664,background
2016-08-07 18:44:25,7.136,42.219.155.56,213.38.9.224,80,49961,TCP,.AP.SF,0,0.0,6,734,background

Avant que j'oublie : UDPscan on voit souvent 1 packet :)

## Starting first categorisations

On commence par traiter les ports de destination :)

In [6]:
# Ca correspond aux ports les plus attaqués. (le reste sera dans un catégorie)
# others...
TCP_attacked = [23, 445, 1433, 80, 443, 22, 3389, 8080, 5555, 81]
UDP_attacked = [1194, 55, 500]

In [7]:
df = data.df_rounded_traffic

In [8]:
df.port_d

date_time
2016-08-01 04:10:25     6046
2016-08-01 04:24:14     6061
2016-08-01 04:24:14     6061
2016-08-01 04:12:53     7039
2016-08-01 04:12:50     7043
                       ...
2016-08-02 02:22:30       80
2016-08-04 16:07:58       80
2016-08-04 02:12:15    53905
2016-08-02 15:13:58    49479
2016-08-07 18:44:25    49961
Name: port_d, Length: 1111429, dtype: int64

In [9]:
df[df.port_d.isin(TCP_attacked)]

,duration,ip_s,ip_d,port_s,port_d,prot,flag,fwd,tos,nb_packets,nb_bytes,data_type
date_time,,,,,,,,,,,,
2016-04-27 00:03:18,0.000,42.219.156.231,82.167.235.52,80,22,TCP,...R..,0,0.0,1,40,anomaly-sshscan
2016-04-27 00:03:18,0.000,82.167.235.52,42.219.156.231,22,80,TCP,.A....,0,0.0,1,40,anomaly-sshscan
2016-04-27 02:07:08,0.000,82.167.235.43,42.219.156.231,22,80,TCP,.A....,0,0.0,1,40,anomaly-sshscan
2016-04-27 02:07:08,0.000,42.219.156.231,82.167.235.43,80,22,TCP,...R..,0,0.0,1,40,anomaly-sshscan
2016-04-28 23:51:27,0.176,198.132.87.105,42.219.156.231,22,22,TCP,...RS.,0,40.0,2,80,anomaly-sshscan
...,...,...,...,...,...,...,...,...,...,...,...,...
2016-08-05 21:53:48,3.072,42.219.159.95,159.193.53.17,47556,445,TCP,....S.,0,0.0,2,96,background
2016-08-05 02:49:02,29.116,97.44.147.0,42.219.156.211,33738,80,TCP,.AP.SF,0,0.0,10,1712,background
2016-08-07 10:53:21,0.312,150.240.51.248,42.219.158.226,54303,80,TCP,.AP.SF,0,40.0,6,796,background
2016-08-02 02:22:30,0.084,201.171.238.25,42.219.156.211,63852,80,TCP,.AP.SF,0,0.0,5,634,background
2016-08-04 16:07:58,2.584,194.233.94.148,42.219.158.186,63758,80,TCP,.AP.SF,0,0.0,33,2693,background

In [10]:
e = df[df.port_d.isin(TCP_attacked)]
e["port_dest"] = 'TCP_attacked'

/var/folders/cg/mh2mk1994lgd88dyllz5stq00000gn/T/ipykernel_4573/1940062605.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  e["port_dest"] = 'TCP_attacked'

In [11]:
e

,duration,ip_s,ip_d,port_s,port_d,prot,flag,fwd,tos,nb_packets,nb_bytes,data_type,port_dest
date_time,,,,,,,,,,,,,
2016-04-27 00:03:18,0.000,42.219.156.231,82.167.235.52,80,22,TCP,...R..,0,0.0,1,40,anomaly-sshscan,TCP_attacked
2016-04-27 00:03:18,0.000,82.167.235.52,42.219.156.231,22,80,TCP,.A....,0,0.0,1,40,anomaly-sshscan,TCP_attacked
2016-04-27 02:07:08,0.000,82.167.235.43,42.219.156.231,22,80,TCP,.A....,0,0.0,1,40,anomaly-sshscan,TCP_attacked
2016-04-27 02:07:08,0.000,42.219.156.231,82.167.235.43,80,22,TCP,...R..,0,0.0,1,40,anomaly-sshscan,TCP_attacked
2016-04-28 23:51:27,0.176,198.132.87.105,42.219.156.231,22,22,TCP,...RS.,0,40.0,2,80,anomaly-sshscan,TCP_attacked
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2016-08-05 21:53:48,3.072,42.219.159.95,159.193.53.17,47556,445,TCP,....S.,0,0.0,2,96,background,TCP_attacked
2016-08-05 02:49:02,29.116,97.44.147.0,42.219.156.211,33738,80,TCP,.AP.SF,0,0.0,10,1712,background,TCP_attacked
2016-08-07 10:53:21,0.312,150.240.51.248,42.219.158.226,54303,80,TCP,.AP.SF,0,40.0,6,796,background,TCP_attacked
2016-08-02 02:22:30,0.084,201.171.238.25,42.219.156.211,63852,80,TCP,.AP.SF,0,0.0,5,634,background,TCP_attacked
2016-08-04 16:07:58,2.584,194.233.94.148,42.219.158.186,63758,80,TCP,.AP.SF,0,0.0,33,2693,background,TCP_attacked

## Applying the changes to the df

In [12]:
df["port_dest"] = "other"

In [13]:
df[df.port_d.isin(TCP_attacked)]["port_dest"] = 'TCP_attacked'

/var/folders/cg/mh2mk1994lgd88dyllz5stq00000gn/T/ipykernel_4573/4166122743.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[df.port_d.isin(TCP_attacked)]["port_dest"] = 'TCP_attacked'

In [14]:
df[df.port_d.isin(UDP_attacked)][["port_dest"]] = 'UDP_attacked'

/var/folders/cg/mh2mk1994lgd88dyllz5stq00000gn/T/ipykernel_4573/4026323790.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[df.port_d.isin(UDP_attacked)][["port_dest"]] = 'UDP_attacked'

In [15]:
df["port_d"].values

array([ 6046,  6061,  6061, ..., 53905, 49479, 49961])

In [16]:
df["port_d"].values.astype(str)

array(['6046', '6061', '6061', ..., '53905', '49479', '49961'],
      dtype='<U21')

In [17]:
df["port_dest"] = df["port_d"].values.astype(str)

In [18]:
df.port_dest

date_time
2016-08-01 04:10:25     6046
2016-08-01 04:24:14     6061
2016-08-01 04:24:14     6061
2016-08-01 04:12:53     7039
2016-08-01 04:12:50     7043
                       ...
2016-08-02 02:22:30       80
2016-08-04 16:07:58       80
2016-08-04 02:12:15    53905
2016-08-02 15:13:58    49479
2016-08-07 18:44:25    49961
Name: port_dest, Length: 1111429, dtype: object

In [19]:
df.dtypes

duration      float64
ip_s           object
ip_d           object
port_s          int64
port_d          int64
prot           object
flag           object
fwd             int64
tos           float64
nb_packets      int64
nb_bytes        int64
data_type      object
port_dest      object
dtype: object

In [20]:
df.port_dest.value_counts()

0        129543
53       118969
80        85157
2048      78929
443       35133
          ...
6435          1
22452         1
29174         1
15671         1
62738         1
Name: port_dest, Length: 58634, dtype: int64

In [21]:
df

,duration,ip_s,ip_d,port_s,port_d,prot,flag,fwd,tos,nb_packets,nb_bytes,data_type,port_dest
date_time,,,,,,,,,,,,,
2016-08-01 04:10:25,0.000,217.156.59.213,42.219.144.89,5061,6046,UDP,.A....,0,40.0,1,435,anomaly-udpscan,6046
2016-08-01 04:24:14,0.000,217.156.59.213,42.219.149.196,5068,6061,UDP,.A....,0,40.0,1,435,anomaly-udpscan,6061
2016-08-01 04:24:14,0.000,217.156.59.213,42.219.151.10,5068,6061,UDP,.A....,0,40.0,1,435,anomaly-udpscan,6061
2016-08-01 04:12:53,0.000,217.156.59.213,42.219.144.78,5066,7039,UDP,.A....,0,40.0,1,433,anomaly-udpscan,7039
2016-08-01 04:12:50,0.000,217.156.59.213,42.219.156.117,5066,7043,UDP,.A....,0,40.0,1,436,anomaly-udpscan,7043
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2016-08-02 02:22:30,0.084,201.171.238.25,42.219.156.211,63852,80,TCP,.AP.SF,0,0.0,5,634,background,80
2016-08-04 16:07:58,2.584,194.233.94.148,42.219.158.186,63758,80,TCP,.AP.SF,0,0.0,33,2693,background,80
2016-08-04 02:12:15,0.032,42.219.156.211,165.131.216.197,80,53905,TCP,.AP.SF,0,0.0,4,888,background,53905
2016-08-02 15:13:58,0.316,145.186.9.79,42.219.159.92,443,49479,TCP,.AP.S.,0,0.0,10,4664,background,49479
2016-08-07 18:44:25,7.136,42.219.155.56,213.38.9.224,80,49961,TCP,.AP.SF,0,0.0,6,734,background,49961

In [22]:

cats = [TCP_attacked, UDP_attacked]
for i in range(len(cats)):
    x = df[df.port_d.isin(cats[i])].copy()
    x.port_dest = ['TCP_attacked', 'UDP_attacked'][i]

In [23]:
x

,duration,ip_s,ip_d,port_s,port_d,prot,flag,fwd,tos,nb_packets,nb_bytes,data_type,port_dest
date_time,,,,,,,,,,,,,
2016-08-06 05:42:00,0.000,42.219.150.246,42.219.158.16,45992,500,TCP,....S.,0,0.0,1,44,scan44,UDP_attacked
2016-08-04 14:49:51,0.000,42.219.150.243,42.219.152.20,37070,500,TCP,....S.,0,0.0,1,44,scan44,UDP_attacked
2016-08-07 06:40:15,0.000,42.219.150.246,42.219.158.16,34398,500,TCP,...RS.,0,0.0,2,84,scan44,UDP_attacked
2016-08-04 00:13:04,0.000,42.219.150.246,42.219.158.16,41737,500,TCP,....S.,0,0.0,1,44,scan44,UDP_attacked
2016-08-04 14:51:59,0.000,42.219.150.243,42.219.152.20,33938,500,TCP,....S.,0,0.0,1,44,scan44,UDP_attacked
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2016-08-03 20:24:57,1.960,42.219.159.95,79.6.34.200,29867,1194,TCP,.APRSF,0,0.0,23,2485,background,UDP_attacked
2016-08-03 15:38:26,1.996,42.219.159.95,79.6.34.200,31504,1194,TCP,.APRSF,0,0.0,23,2485,background,UDP_attacked
2016-08-02 12:53:31,1.944,42.219.159.95,79.6.34.200,16880,1194,TCP,.APRSF,0,0.0,23,2485,background,UDP_attacked
2016-08-04 18:45:48,1.936,42.219.159.95,79.6.34.200,4451,1194,TCP,.APRSF,0,0.0,23,2485,background,UDP_attacked
2016-08-01 19:42:06,1.952,42.219.159.95,79.6.34.200,26878,1194,TCP,.APRSF,0,0.0,23,2485,background,UDP_attacked

In [24]:
df[df.port_dest == 'TCP_attacked']

Empty DataFrame
Columns: [duration, ip_s, ip_d, port_s, port_d, prot, flag, fwd, tos, nb_packets, nb_bytes, data_type, port_dest]
Index: []

In [25]:
df[df.port_d.isin(TCP_attacked)].port_dest = 'TCP_attacked'

/var/folders/cg/mh2mk1994lgd88dyllz5stq00000gn/T/ipykernel_4573/2222608852.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[df.port_d.isin(TCP_attacked)].port_dest = 'TCP_attacked'

In [26]:
df[df.port_d.isin(TCP_attacked)]

,duration,ip_s,ip_d,port_s,port_d,prot,flag,fwd,tos,nb_packets,nb_bytes,data_type,port_dest
date_time,,,,,,,,,,,,,
2016-04-27 00:03:18,0.000,42.219.156.231,82.167.235.52,80,22,TCP,...R..,0,0.0,1,40,anomaly-sshscan,22
2016-04-27 00:03:18,0.000,82.167.235.52,42.219.156.231,22,80,TCP,.A....,0,0.0,1,40,anomaly-sshscan,80
2016-04-27 02:07:08,0.000,82.167.235.43,42.219.156.231,22,80,TCP,.A....,0,0.0,1,40,anomaly-sshscan,80
2016-04-27 02:07:08,0.000,42.219.156.231,82.167.235.43,80,22,TCP,...R..,0,0.0,1,40,anomaly-sshscan,22
2016-04-28 23:51:27,0.176,198.132.87.105,42.219.156.231,22,22,TCP,...RS.,0,40.0,2,80,anomaly-sshscan,22
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2016-08-05 21:53:48,3.072,42.219.159.95,159.193.53.17,47556,445,TCP,....S.,0,0.0,2,96,background,445
2016-08-05 02:49:02,29.116,97.44.147.0,42.219.156.211,33738,80,TCP,.AP.SF,0,0.0,10,1712,background,80
2016-08-07 10:53:21,0.312,150.240.51.248,42.219.158.226,54303,80,TCP,.AP.SF,0,40.0,6,796,background,80
2016-08-02 02:22:30,0.084,201.171.238.25,42.219.156.211,63852,80,TCP,.AP.SF,0,0.0,5,634,background,80
2016-08-04 16:07:58,2.584,194.233.94.148,42.219.158.186,63758,80,TCP,.AP.SF,0,0.0,33,2693,background,80

## STOP the non working stuff here is the anser:

In [27]:
TCP_attacked = "(23|445|1433|80|443|22|3389|8080|5555|81)"
UDP_attacked = "(1194|55|500)"
other = "([^(TCP_attacked|UDP_attacked)])"

df.port_dest.replace(TCP_attacked, "TCP_attacked", regex=True, inplace=True)
df.port_dest.replace(UDP_attacked, "UDP_attacked", regex=True, inplace=True)
df.port_dest.replace(other, "other", regex=True, inplace=True)

In [28]:
df[df.port_dest == "UDP_attacked"]

,duration,ip_s,ip_d,port_s,port_d,prot,flag,fwd,tos,nb_packets,nb_bytes,data_type,port_dest
date_time,,,,,,,,,,,,,
2016-08-06 05:42:00,0.000,42.219.150.246,42.219.158.16,45992,500,TCP,....S.,0,0.0,1,44,scan44,UDP_attacked
2016-08-04 14:49:51,0.000,42.219.150.243,42.219.152.20,37070,500,TCP,....S.,0,0.0,1,44,scan44,UDP_attacked
2016-08-07 06:40:15,0.000,42.219.150.246,42.219.158.16,34398,500,TCP,...RS.,0,0.0,2,84,scan44,UDP_attacked
2016-08-04 00:13:04,0.000,42.219.150.246,42.219.158.16,41737,500,TCP,....S.,0,0.0,1,44,scan44,UDP_attacked
2016-08-04 14:51:59,0.000,42.219.150.243,42.219.152.20,33938,500,TCP,....S.,0,0.0,1,44,scan44,UDP_attacked
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2016-08-03 20:24:57,1.960,42.219.159.95,79.6.34.200,29867,1194,TCP,.APRSF,0,0.0,23,2485,background,UDP_attacked
2016-08-03 15:38:26,1.996,42.219.159.95,79.6.34.200,31504,1194,TCP,.APRSF,0,0.0,23,2485,background,UDP_attacked
2016-08-02 12:53:31,1.944,42.219.159.95,79.6.34.200,16880,1194,TCP,.APRSF,0,0.0,23,2485,background,UDP_attacked
2016-08-04 18:45:48,1.936,42.219.159.95,79.6.34.200,4451,1194,TCP,.APRSF,0,0.0,23,2485,background,UDP_attacked
2016-08-01 19:42:06,1.952,42.219.159.95,79.6.34.200,26878,1194,TCP,.APRSF,0,0.0,23,2485,background,UDP_attacked

In [29]:
df[df.port_dest == "TCP_attacked"]

,duration,ip_s,ip_d,port_s,port_d,prot,flag,fwd,tos,nb_packets,nb_bytes,data_type,port_dest
date_time,,,,,,,,,,,,,
2016-04-27 00:03:18,0.000,42.219.156.231,82.167.235.52,80,22,TCP,...R..,0,0.0,1,40,anomaly-sshscan,TCP_attacked
2016-04-27 00:03:18,0.000,82.167.235.52,42.219.156.231,22,80,TCP,.A....,0,0.0,1,40,anomaly-sshscan,TCP_attacked
2016-04-27 02:07:08,0.000,82.167.235.43,42.219.156.231,22,80,TCP,.A....,0,0.0,1,40,anomaly-sshscan,TCP_attacked
2016-04-27 02:07:08,0.000,42.219.156.231,82.167.235.43,80,22,TCP,...R..,0,0.0,1,40,anomaly-sshscan,TCP_attacked
2016-04-28 23:51:27,0.176,198.132.87.105,42.219.156.231,22,22,TCP,...RS.,0,40.0,2,80,anomaly-sshscan,TCP_attacked
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2016-08-05 21:53:48,3.072,42.219.159.95,159.193.53.17,47556,445,TCP,....S.,0,0.0,2,96,background,TCP_attacked
2016-08-05 02:49:02,29.116,97.44.147.0,42.219.156.211,33738,80,TCP,.AP.SF,0,0.0,10,1712,background,TCP_attacked
2016-08-07 10:53:21,0.312,150.240.51.248,42.219.158.226,54303,80,TCP,.AP.SF,0,40.0,6,796,background,TCP_attacked
2016-08-02 02:22:30,0.084,201.171.238.25,42.219.156.211,63852,80,TCP,.AP.SF,0,0.0,5,634,background,TCP_attacked
2016-08-04 16:07:58,2.584,194.233.94.148,42.219.158.186,63758,80,TCP,.AP.SF,0,0.0,33,2693,background,TCP_attacked

In [30]:
df[df.port_dest == "other"]

,duration,ip_s,ip_d,port_s,port_d,prot,flag,fwd,tos,nb_packets,nb_bytes,data_type,port_dest
date_time,,,,,,,,,,,,,
2016-08-04 14:50:29,0.000,42.219.150.246,42.219.158.16,37454,9,TCP,....S.,0,0.0,1,44,scan44,other
2016-08-07 20:51:45,0.000,42.219.150.243,42.219.152.20,47316,9,TCP,....S.,0,0.0,1,44,scan44,other
2016-08-01 08:51:34,0.000,42.219.150.243,42.219.152.20,53594,3,TCP,....S.,0,0.0,1,44,scan44,other
2016-08-01 08:49:56,0.000,42.219.150.243,42.219.152.20,36083,7,TCP,....S.,0,0.0,1,44,scan44,other
2016-08-01 08:51:52,0.000,42.219.150.246,42.219.158.16,58665,9,TCP,....S.,0,0.0,1,44,scan44,other
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2016-08-03 07:33:18,3.996,208.109.188.213,42.219.159.82,55072,1,TCP,....S.,0,0.0,5,300,background,other
2016-08-06 01:44:54,4.000,208.109.188.213,42.219.159.82,38200,1,TCP,....S.,0,0.0,5,300,background,other
2016-08-06 22:04:12,4.000,208.109.188.213,42.219.159.82,37204,1,TCP,....S.,0,0.0,5,300,background,other
2016-08-05 07:36:45,4.000,208.109.188.213,42.219.159.82,53804,1,TCP,....S.,0,0.0,5,300,background,other
2016-08-06 13:06:31,3.996,208.109.188.213,42.219.159.82,38600,1,TCP,....S.,0,0.0,5,300,background,other

## Trying to find malicious

In [31]:
df[(df.port_dest == "TCP_attacked") & (df.prot == 'UDP')]

,duration,ip_s,ip_d,port_s,port_d,prot,flag,fwd,tos,nb_packets,nb_bytes,data_type,port_dest
date_time,,,,,,,,,,,,,
2016-06-13 15:00:32,305.192,42.219.156.231,240.100.41.227,44010,22,UDP,.A....,0,0.0,7864658,228075082,anomaly-sshscan,TCP_attacked
2016-06-13 15:03:46,194.752,42.219.156.231,240.100.41.227,44010,22,UDP,.A....,0,0.0,6262006,181598174,anomaly-sshscan,TCP_attacked
2016-06-14 00:11:57,93.496,42.219.156.231,197.72.157.94,60200,22,UDP,.A....,0,0.0,1083393,84504654,anomaly-sshscan,TCP_attacked
2016-08-02 11:18:00,0.512,42.219.159.85,43.164.45.74,27252,443,UDP,.A....,0,0.0,12,5062,background,TCP_attacked
2016-08-01 11:50:16,0.228,42.219.159.85,43.164.44.50,59460,443,UDP,.A....,0,0.0,9,3634,background,TCP_attacked
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2016-08-01 14:57:47,300.948,42.219.147.178,62.234.243.111,36615,443,UDP,.A....,0,0.0,31,2170,background,TCP_attacked
2016-08-03 04:49:50,0.132,42.219.153.89,43.164.44.14,51732,443,UDP,.A....,0,0.0,5,4914,background,TCP_attacked
2016-08-03 22:47:11,17.760,42.219.159.85,85.194.138.240,27272,443,UDP,.A....,0,0.0,571,46109,background,TCP_attacked
2016-08-04 12:14:00,0.520,42.219.153.149,43.164.49.182,16492,443,UDP,.A....,0,0.0,15,6190,background,TCP_attacked
2016-08-01 03:25:27,0.000,42.219.159.84,246.46.178.87,45145,443,UDP,.A....,0,0.0,1,46,background,TCP_attacked

In [32]:
df[(df.port_dest == "UDP_attacked") & (df.prot == 'TCP')]

,duration,ip_s,ip_d,port_s,port_d,prot,flag,fwd,tos,nb_packets,nb_bytes,data_type,port_dest
date_time,,,,,,,,,,,,,
2016-08-06 05:42:00,0.000,42.219.150.246,42.219.158.16,45992,500,TCP,....S.,0,0.0,1,44,scan44,UDP_attacked
2016-08-04 14:49:51,0.000,42.219.150.243,42.219.152.20,37070,500,TCP,....S.,0,0.0,1,44,scan44,UDP_attacked
2016-08-07 06:40:15,0.000,42.219.150.246,42.219.158.16,34398,500,TCP,...RS.,0,0.0,2,84,scan44,UDP_attacked
2016-08-04 00:13:04,0.000,42.219.150.246,42.219.158.16,41737,500,TCP,....S.,0,0.0,1,44,scan44,UDP_attacked
2016-08-04 14:51:59,0.000,42.219.150.243,42.219.152.20,33938,500,TCP,....S.,0,0.0,1,44,scan44,UDP_attacked
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2016-08-03 20:24:57,1.960,42.219.159.95,79.6.34.200,29867,1194,TCP,.APRSF,0,0.0,23,2485,background,UDP_attacked
2016-08-03 15:38:26,1.996,42.219.159.95,79.6.34.200,31504,1194,TCP,.APRSF,0,0.0,23,2485,background,UDP_attacked
2016-08-02 12:53:31,1.944,42.219.159.95,79.6.34.200,16880,1194,TCP,.APRSF,0,0.0,23,2485,background,UDP_attacked
2016-08-04 18:45:48,1.936,42.219.159.95,79.6.34.200,4451,1194,TCP,.APRSF,0,0.0,23,2485,background,UDP_attacked
2016-08-01 19:42:06,1.952,42.219.159.95,79.6.34.200,26878,1194,TCP,.APRSF,0,0.0,23,2485,background,UDP_attacked

In [33]:
e = df[(df.port_dest == "UDP_attacked") & (df.prot == 'TCP')]
e.data_type.value_counts()

scan11        43
scan44        37
background     9
Name: data_type, dtype: int64

In [34]:
x = df[(df.port_dest == "TCP_attacked") & (df.prot == 'UDP')]
x.data_type.value_counts()

background         704
anomaly-sshscan      3
Name: data_type, dtype: int64

on essaie de voir si les attaques sont corrélées avec une mauvaise utilisation des protocols en fonction des ports

Même pas un demi pourcent des ports TCP utilisés avec UDP sont des attaques (bon la phrase veux rien dire mais on se comprend)

In [35]:
3 / (704 + 3) * 100

0.4243281471004243

Par contre dans l'autre cas c'est 90% donc on peut dire une corrélation forte

In [36]:
(43 +37) / (43 +37 + 9) * 100

89.8876404494382

## Get all ports

In [67]:
ports = pd.read_html("https://www.ionos.fr/digitalguide/serveur/know-how/ports-tcpet-udp/")

In [68]:
known = ports[0]
less_known = ports[1]

In [69]:
known

,Port,TCP,UDP,Nom,Description
0,1,✔,✔,tcpmux,TCP Port Multiplexer (service de multiplexage ...
1,5,✔,✔,rje,Remote Job Entry (saisie de tâche à distance)
2,7,✔,✔,echo,Service d’écho
3,9,✔,✔,discard,Service zéro à des fins de test
4,11,✔,✔,systat,Informations système
...,...,...,...,...,...
100,750,NaN,✔,kerberos-iv,Services Kerberos v4
101,873,✔,NaN,rsync,Services de transfert de fichiers rsync
102,992,✔,✔,telnets,Telnet via SSL/TLS
103,993,✔,NaN,imaps,IMAP via SSL/TLS
104,995,✔,NaN,pop3s,POP3 via SSL/TLS

In [70]:
less_known

,Port,TCP,UDP,Nom,Description
0,1080,✔,NaN,socks,Proxy SOCKS
1,1433,✔,NaN,ms-sql-s,Serveur Microsoft SQL
2,1434,✔,✔,ms-sql-m,Moniteur Microsoft SQL
3,1494,✔,NaN,ica,Client Citrix ICA
4,1512,✔,✔,wins,Windows Internet Name Service
5,1524,✔,✔,ingreslock,Ingres DBMS
6,1701,NaN,✔,l2tp,Protocole de tunnelisation de niveau 2/transfe...
7,1719,NaN,✔,h323gatestat,H.323
8,1720,✔,NaN,h323hostcall,H.323
9,1812,✔,✔,radius,Authentification RADIUS
10,1813,✔,✔,radius-acct,Accès RADIUS
11,1985,NaN,✔,hsrp,Cisco HSRP
12,2008,✔,NaN,NaN,Teamspeak 3 Accounting (non officiel)
13,2010,NaN,✔,NaN,Teamspeak 3 Weblist (non officiel)
14,2049,✔,✔,nfs,Système de fichiers en réseau
15,2102,✔,✔,zephyr-srv,Serveur Zephyr
16,2103,✔,✔,zephyr-clt,Client Zephyr
17,2104,✔,✔,zephyr-hm,Gestionnaire d’hôte Zephyr
18,2401,✔,NaN,cvspserver,Concurrent Versions System (système de gestion...
19,2809,✔,✔,corbaloc,Common Object Request Broker Architecture (arc...
20,3306,✔,✔,mysql,Service de base de données MySQL (pour MariaDB...
21,4321,✔,NaN,rwhois,Remote Whois Service (service Whois à distance)
22,5999,✔,NaN,cvsup,CVSup
23,6000,✔,NaN,X11,X Windows System Services (services système po...
24,11371,✔,NaN,pgpkeyserver,Serveur de clés publiques pour PGP
25,13720,✔,✔,bprd,Symantec/Veritas NetBackup
26,13721,✔,✔,bpdbm,Symantec/Veritas Database Manager
27,13724,✔,✔,vnetd,Symantec/Veritas Network Utility
28,13782,✔,✔,bpcd,Symantec/Veritas NetBackup
29,13783,✔,✔,vopied,Symantec/Veritas VOPIE
30,22273,✔,✔,wnn6,Conversion Kana/Kanji
31,23399,NaN,NaN,NaN,Skype (non officiel)
32,25565,✔,NaN,NaN,Minecraft
33,26000,✔,✔,quake,Quake et autres jeux multijoueurs
34,27017,NaN,NaN,NaN,MongoDB
35,33434,✔,✔,traceroute,Suivi de réseau

In [161]:
port_use = pd.concat([known, less_known]).drop(["Nom", "Description"], axis=1)
port_use

     Port  TCP  UDP
0       1    ✔    ✔
1       5    ✔    ✔
2       7    ✔    ✔
3       9    ✔    ✔
4      11    ✔    ✔
..    ...  ...  ...
31  23399  NaN  NaN
32  25565    ✔  NaN
33  26000    ✔    ✔
34  27017  NaN  NaN
35  33434    ✔    ✔

[141 rows x 3 columns]

In [164]:
port_use.TCP[known.TCP.notnull()] = True
port_use.TCP[known.TCP.isnull()] = False
port_use.UDP[known.UDP.notnull()] = True
port_use.UDP[known.UDP.isnull()] = False
port_use.set_index('Port', inplace=True)
port_use

IndexingError: Unalignable boolean Series provided as indexer (index of the boolean Series and of the indexed object do not match).

In [163]:
port_use[]

SyntaxError: invalid syntax (844985854.py, line 1)

In [151]:
ports_TCP_and_UDP = port_use[port_use.TCP & port_use.UDP].index.tolist()
ports_TCP = port_use[port_use.TCP & (port_use.UDP == False)].index.tolist()
ports_UDP = port_use[(port_use.TCP == False) & port_use.UDP].index.tolist()
ports_not = port_use[(port_use.TCP == False) & (port_use.UDP == False)].index.tolist()

In [152]:
ports_not

[]

In [49]:
known[(known.TCP == 1) & (known.UDP == 1)].count()

Port    0
TCP     0
UDP     0
dtype: int64

In [50]:
known[(known.TCP == 1) & (known.UDP == 0)].count()

Port    36
TCP     36
UDP     36
dtype: int64

In [51]:
e = known[(known.TCP == 0) & (known.UDP == 1)]
e.count()

Port    0
TCP     0
UDP     0
dtype: int64

In [52]:
less_known.drop(columns=["Nom", "Description"], inplace=True)

less_known.TCP = less_known.TCP.fillna(0)
less_known.TCP.replace('[^0]', 1, regex=True, inplace=True)

less_known.UDP = less_known.UDP.fillna(0)
less_known.UDP.replace('[^0]', 2, regex=True, inplace=True)

In [53]:
less_known.

     Port  TCP  UDP
0    1080    1    0
1    1433    1    0
2    1434    1    2
3    1494    1    0
4    1512    1    2
5    1524    1    2
6    1701    0    2
7    1719    0    2
8    1720    1    0
9    1812    1    2
10   1813    1    2
11   1985    0    2
12   2008    1    0
13   2010    0    2
14   2049    1    2
15   2102    1    2
16   2103    1    2
17   2104    1    2
18   2401    1    0
19   2809    1    2
20   3306    1    2
21   4321    1    0
22   5999    1    0
23   6000    1    0
24  11371    1    0
25  13720    1    2
26  13721    1    2
27  13724    1    2
28  13782    1    2
29  13783    1    2
30  22273    1    2
31  23399    0    0
32  25565    1    0
33  26000    1    2
34  27017    0    0
35  33434    1    2

In [54]:
less_known[(less_known.TCP == 1) & (less_known.UDP == 2)].count()

Port    19
TCP     19
UDP     19
dtype: int64

In [55]:
less_known[(less_known.TCP == 1) & (less_known.UDP == 0)].count()

Port    11
TCP     11
UDP     11
dtype: int64

In [56]:
less_known[(less_known.TCP == 0) & (less_known.UDP == 2)].count()

Port    4
TCP     4
UDP     4
dtype: int64

In [57]:
less_known[(less_known.TCP == 0) & (less_known.UDP == 0)].count()

Port    2
TCP     2
UDP     2
dtype: int64

In [58]:
df_ports = pd.concat(
    [known, less_known],
    axis=0,
    join="outer",
    ignore_index=False,
    keys=None,
    levels=None,
    names=None,
    verify_integrity=False,
    copy=True,
)

In [59]:
df_ports[df_ports.Port == 23399]

     Port  TCP  UDP
31  23399    0    0

In [60]:
df_ports["category"] = df_ports.TCP + df_ports.UDP

In [61]:
df_ports[(df_ports.TCP == 1) & (df_ports.UDP == 1)]["category"] = "both"

In [62]:
df_ports.replace(1, "TCP", regex=True, inplace=True)

In [63]:
df

,duration,ip_s,ip_d,port_s,port_d,prot,flag,fwd,tos,nb_packets,nb_bytes,data_type,port_dest
date_time,,,,,,,,,,,,,
2016-08-01 04:10:25,0.000,217.156.59.213,42.219.144.89,5061,6046,UDP,.A....,0,40.0,1,435,anomaly-udpscan,otherotherotherother
2016-08-01 04:24:14,0.000,217.156.59.213,42.219.149.196,5068,6061,UDP,.A....,0,40.0,1,435,anomaly-udpscan,otherotherotherother
2016-08-01 04:24:14,0.000,217.156.59.213,42.219.151.10,5068,6061,UDP,.A....,0,40.0,1,435,anomaly-udpscan,otherotherotherother
2016-08-01 04:12:53,0.000,217.156.59.213,42.219.144.78,5066,7039,UDP,.A....,0,40.0,1,433,anomaly-udpscan,otherotherotherother
2016-08-01 04:12:50,0.000,217.156.59.213,42.219.156.117,5066,7043,UDP,.A....,0,40.0,1,436,anomaly-udpscan,otherotherotherother
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2016-08-02 02:22:30,0.084,201.171.238.25,42.219.156.211,63852,80,TCP,.AP.SF,0,0.0,5,634,background,TCP_attacked
2016-08-04 16:07:58,2.584,194.233.94.148,42.219.158.186,63758,80,TCP,.AP.SF,0,0.0,33,2693,background,TCP_attacked
2016-08-04 02:12:15,0.032,42.219.156.211,165.131.216.197,80,53905,TCP,.AP.SF,0,0.0,4,888,background,otherotherotherotherother
2016-08-02 15:13:58,0.316,145.186.9.79,42.219.159.92,443,49479,TCP,.AP.S.,0,0.0,10,4664,background,otherotherotherotherother
2016-08-07 18:44:25,7.136,42.219.155.56,213.38.9.224,80,49961,TCP,.AP.SF,0,0.0,6,734,background,otherotherotherotherother